*{
    font-family: Arial, Helvetica, sans-serif
    ;
}
body{
    margin: 0;
    background-image: linear-gradient( 109.1deg,  rgba(181,73,91,1) 7.1%, rgba(225,107,140,1) 86.4% );
    font-weight: 600;
    
}
body.dark{
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.switch{
    background: #1c1c53;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline:none;
    top: 60px;
    left: 14%;
}
span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #ffffff;
}
.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #d8d8dd;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}
.switch.active{
    background: rgb(231, 189, 111);
    color: #000000;
}
.switch.active:after{
    left: unset;
    right: 0;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 160px repeat(5,80px);
    background-color: #eee8e8;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 3px rgb(68, 68, 68);
    width: 30%;
}
body.dark .calculadora{
    box-shadow: 5px 5px 20px 3px rgb(26, 6, 21);
    background-color: #0f0d0d;
}

button {
    cursor: pointer;
    margin: 1px;
    padding: 0;
    border: none;
    font-size: 1.5em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px rgb(61, 11, 46);
    background: #f7d5dc
    
}
body.dark button{
    color: #d8d8dd;
    background:  #862364 ;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}
.tecla{
    background-image: linear-gradient( 109.1deg,  rgba(181,73,91,1) 7.1%, rgba(225,107,140,1) 86.4% );
}
body.dark .tecla{
    background-image: linear-gradient( 99deg,  #731251 10.6%, rgb(0, 0, 0) 118% );
}
button:active{
    background-color: #ffffff;

}
body.dark button:active{
    background-color: #000;

}

.display{
    grid-column: 1/-1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    margin-bottom: 15px;
    border-radius: 10px;
    
    
}
body.dark .display{
    background-color: rgb(39, 37, 37);
    box-shadow: none;
}
.col-2{
    grid-column: span 2;
}
#valor-actual{
    font-size: 1.5em;
}
#valor-anterior{
    font-size: 3em;
    color:rgba(181,73,91,1) ;
}
body.dark #valor-anterior{
    color:#fcfcfc ;
}
body.dark #valor-actual{
    color:#fa8ed4 ;
}
@media (min-width: 1640px) {
    .calculadora{
        width: 35%;
        padding: 50px;
        grid-template-rows: 160px repeat(5,130px);
        font-size: 30px;
    }
    .switch{
        top: 200px;
        left: 20%;
    }
    #valor-anterior{
        font-size: 2em;
    }
}
@media (max-width: 850px) and (min-width: 481px) {
    .calculadora{
        width: 60%;
        
    }
    .switch{
        top: 80px;
        left: 2%;
    }
}
@media (max-width: 480px)  {
    .calculadora{
        width: 80%;
        grid-template-rows: 160px repeat(5,60px);
        
    }
    .switch{
        top: 110px;
        left: 5%;
    }
}
@media (max-width:380px) {
    .calculadora{
        width: 70%;
        font-size: 10px;
        grid-template-rows: 160px repeat(5,50px);
    }
    .switch{
        top: 50px;
        left: 5%;
    }


}